html, body, #root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #e4e4e4;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    flex-shrink: 0;
}

a {
    text-decoration: none;
    color: #333;
    cursor: pointer;
    font-size: 24px;
}

.foreground {
    background-color: #f4f4f4;
    text-align: center;
    padding: 20px;
    margin: 1px 20px 0 20px;
    align-items: center;
    justify-content: center;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}

.profile-icon {
    width: 48px;
    height: 48px;
    background-color: #000000;
    color: white;
    border-radius: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: initial;
    margin-right: 15px;
}

p.name {
    font-weight: normal;
    font-size: 24px;
    margin: 0;
}

.app-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

/* Iconos */
#github { width: 46px; height: 46px; }
#linkedin { width: 38px; height: 38px; }
